In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('top-300-youtube-channels.csv')
df.head(5)

,Unnamed: 0,Rank,Channel_Name,Subscriber_Count,Video_Views,Video_Count,Genre,Channel_Started
0,0,1,T-Series,237000000,216495600668,18831,Music,2006
1,1,2,Cocomelon - Nursery Rhymes,154000000,152638999634,861,Education,2006
2,2,3,SET India,152000000,140138068504,105649,Film & Animation,2006
3,3,4,Sony SAB,77500000,92952274861,65028,Film & Animation,2007
4,4,5,✿ Kids Diana Show,108000000,88452629066,1070,People & Blogs,2015

In [7]:
df['views_per_video'] = np.where(
    df['Video_Count'] > 0,
    df['Video_Views'] / df['Video_Count'],
    0
)

high_impact_channels = (
    df[['Channel_Name', 'Genre', 'views_per_video']]
    .sort_values(by='views_per_video', ascending=False)
    .head(10).round(2).style.format({'views_per_video':'{:,.2f}'})
)

high_impact_channels